.button-row {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
  justify-content: center;
}

.icon-btn {
  position: relative;
  padding: 0.4rem 0.6rem;
  border-radius: 0.6rem;
  white-space: normal;
}

.nav-buttons {
  display: flex;
  gap: 0.5rem;
  width: 100%; /* Vyplní šířku žlutého rámečku */
  box-sizing: border-box; /* Započítá padding do šířky */
  border: #08b335 2px dashed;
}

.nav-buttons button {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  white-space: nowrap;

  align-self: stretch;
  padding: 0.5rem 1rem;
  background: #aa44cc;
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}

.nav-buttons button:hover {
  background: #cc66ee;
  transform: scale(1.05);
}

.add-button {
  font-size: 1rem;
  padding: 0.8rem 2rem;
  background: #948608;
  color: white;
  border: none;
  border-radius: 0.5rem;  
  cursor: pointer;
  box-shadow: 0 0 10px rgba(168, 161, 34, 0.5);
  transition: transform 0.2s;
  margin-top: 0.5rem;
}

.add-button:hover {
  transform: scale(1.05);
}

.start-button {
  font-size: 1rem;
  padding: 0.8rem 2rem;
  background: #4caf50;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(168, 161, 34, 0.5);
  transition: transform 0.2s;
}

.start-button:disabled {
  background: #444;
  cursor: not-allowed;
}

.start-button:hover {
  transform: scale(1.05);
}

.start-button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}


.stop-button {
  font-size: 1rem;
  background: #e53935;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(229, 57, 53, 0.5);
  transition: transform 0.2s;
  width: 100%;
}
.stop-button:hover {
  transform: scale(1.05);
}


.delete-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #d41919;
  color: white;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: transform 0.2s;
  align-self: center;
}

.delete-button:hover {
  transform: scale(1.05);
}

.delete-button:disabled {
  opacity: 0.35;
  cursor: not-allowed;
}


.back-button {
  margin-bottom: 1rem;
  padding: 0.4rem 1rem;
  font-size: 1.2rem;
  background: #aa44cc;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: transform 0.2s;
}

.back-button:hover {
  background: #cc66ee;
  transform: scale(1.05);
}

.action-button {
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  background: #d68e22;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: transform 0.2s;
}

.action-button:hover {
  background: #da952e;
  transform: scale(1.05);
}

