.nav-bar {
  display: flex;
  gap: 5rem;
  border-radius: 10px;
  border: #ffffff 2px dashed;
}
.nav-bar button {
  background: #6a3b7c;
  border-radius: 10px;
  color: white;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.nav-bar button:hover{
  background: rgb(209, 121, 238);
  transform: scale(1.05);
}

