.centered-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.glass-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 sloupce */
  grid-template-rows: repeat(3, auto);  /* 3 řádky */
  gap: 1.5rem;
  width: 100%;
  max-width: 600px;
}

.glass-item {
  padding: 1rem;
  border: 2px solid #ccc;
  border-radius: 8px;
  text-align: center;
  background-color: #f7f7f7;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

.glass-item.empty {
  border-color: #2e1513;
  background-color: #8d8094;
}

.input-field {
  margin-top: 0.5rem;
  padding: 0.5rem;
  width: 100%;
  font-size: 1rem;
}
